.SNP {
    display: flex;
    background: linear-gradient(180deg, #fdf2c5, #82bfa0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.SNP-titulo {
    font-size: 8vmin;
    margin-top: 0;
    margin-bottom: 0;
}
.SNP-botones {
    display: flex;
    justify-content: center;
    gap: 10vmin;
}
.SNP-boton {
    background-color: #998496;
    height: 10vh;
    width: 20vw;
    font-size:4vmin;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.SNP-boton:hover{
    background-color: #79254a;
    transform: scale(1.1);
    color: #998496;
}
