.selector-niveles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(180deg, #82bfa0, #55939e);
}
.selector-niveles-return {
    position: absolute;
    left: 0;
    height: 5vh;
    padding: 3vmin;
    background: rgb(240, 160, 134);
    border-radius:0px 0px 10px 0px;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}
.selector-niveles-return:hover {
    transform: scale(1.2);
    background: rgb(247, 183, 162);
    cursor: pointer;
}
.selector-niveles-title {
    font-size: 8vmin;
}
.selector-niveles-text {
    font-size: 3vmin;
}
