.sliderbar {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sliderbar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titulo-sliderbar {
    font-size: 3vmin;
}
.h4-sliderbar {
    font-size: 2vmin;
}
.slider-checkbox {
    width: 5vmin; /* Ajusta el ancho según tus preferencias */
    height: 5vmin; /* Ajusta la altura según tus preferencias */
}
.slider-slider {
    width: 20vmin; /* Ajusta el ancho aquí tus preferencias */
}
