.configuracion {
    display: flex;
    justify-content: space-between; /* Distribuir elementos verticalmente en el contenedor */
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column; /* Distribuir los elementos uno debajo de otro en el centro de la pantalla */
    background-color: #82bfa0;
}
.titulo {
    font-size: 6vmin;
}
.titulo-dificultad {
    font-size: 4vmin;
}
.dificultad {
    margin-bottom: 5vh;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    text-align: center;
    border-radius: 1vmin;
}