.configuracion {
    position: fixed;
    top: 50%; /* top, left y transform juntos hacen que el elemento se posicione en el centro de la pantalla */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between; /* Distribuir elementos verticalmente en el contenedor */
    align-items: center;
    height: 70vh;
    width: 50vw;
    flex-direction: column; /* Distribuir los elementos uno debajo de otro en el centro de la pantalla */
    background-color: #82bfa0;
    border: #5c7569 5px solid;
    overflow:auto; /* Para permitir el desplazamiento del scrollbar cuando los elementos se salgan de su contenedor */
}
.titulo-configuracion {
    font-size: 6vmin;
    text-align: center;
    color: rgb(212, 139, 13);
}
.boton-cerrar {
    height: 8%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3%;
    transition: all 0.2s ease-in-out;
}
.boton-cerrar:hover {
    transform: rotate(90deg);
    cursor: pointer;
}
.titulo-dificultad {
    font-size: 4vmin;
}
.dificultad {
    margin-bottom: 5vh;
    height: 5vh;
    width: 20vw;
    font-size: 3vmin;
    text-align: center;
    border-radius: 1vmin;
}