.personaje{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mundo-title {
    font-size: 6vmin;
    margin: 0;
}
.contenedor-personaje {
    display: flex; /* Utiliza flexbox para colocar los elementos en la misma fila */
    align-items: center;
}
.mundo-boss {
    height: 30vmin;
}
.mundo-personaje{
    height: 15vmin;
}
.mundo-vida-progress {
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.mundo-subtitle {
    font-size: 4vmin;
    margin: 0;
}
