.menu-principal {
    background: linear-gradient(180deg, #82bfa0, #55939e);
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    display: flex;
    justify-content: space-between; /* Distribuir elementos verticalmente en el contenedor */
    align-items: center; /* Alinear elementos en la parte superior del contenedor */
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}
.titulo {
    font-size: 4vw;
}
.espacio-botones {
    display: flex;
    flex-direction:row;
    gap: 10%;
}
.boton-menu {
    background-color: #998496;
    height: 10vh;
    width: 30vw;
    font-size:4vmin;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.boton-menu:hover {
    background-color: #79254a;
    transform: scale(1.1);
    color: #998496;
}
.iconos {
    display: flex;
    flex-direction:row;
    gap: 10vw;
    margin-bottom: 5vh;
}
.icono-individual {
    width: 8vw;
    height: 8vh;
    transition: all .5s ease-in-out;
}
.icono-individual:hover {
    transform: scale(1.5);
    cursor: pointer;
}
::backdrop {
    background-color: #82bfa0;
}