.boton-seleccionar-nivel {
    min-width: 80vw;
}
.boton-seleccionar-nivel-button {
    height: 20vmin;
    width: 20vmin;
    font-size: 10vmin;
    text-align: center;
    background-color: #fee78a;
}
.boton-seleccionar-nivel-button:hover {
    background-color: #fff7bc;
    cursor: pointer;
}
.fila-botones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Espaciado entre filas, ajusta según tus preferencias */
}
