.caja-acciones {
    position: absolute;
    background-color: #b8aa956e;
    bottom: 0;
    width: 80vmin;
    height: 15vmin;
    padding: 2vmin;
    border-radius: 10px 10px 0 0;
}
.caja-acciones-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vmin;
}

.caja-acciones button {
    font-size: 3vmin;
    height: 7vmin;
    background-color: #ffeec8;
}
.caja-acciones button:hover {
    cursor: pointer;
    background-color: #f3c6b9;
}
.caja-acciones button:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.caja-acciones button:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.caja-acciones button:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.caja-acciones button:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}