.creacion-personaje{
    background: linear-gradient(#efe8b2, #82bfa0);
    display: flex;
    justify-content: space-between; /* Distribuir elementos verticalmente en el contenedor */
    align-items: center; /* Alinear elementos en la parte superior del contenedor */
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}
.creacion-personaje-title{
    font-size: 5vmin;
}
.creacion-personaje-button{
    background-color: #fdf2c5;
    border-radius: 20px;
    padding: 2vmin;
    margin-bottom: 10vmin;
}
.creacion-personaje-button:hover{
    background-color: #c6d1a6;
    cursor: pointer;
}